:root {
  --bg: #0B0C10;
  --bg-alt: #0C7075;
  --bg-soft: #0F969C;

  --accent: #6DA5C0;
  --accent-soft: rgba(109, 165, 192, 0.15);

  --text: #FFFFFF;
  --muted: #A0B0C0;

  --radius: 10px;
  --speed: 0.25s ease;
}

/* reset mínimo */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'inter', system-ui, sans-serif;
  background: var(--bg);
  color: var(--text);
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
}