[submodule "plugins/crystalcore"]
	path = plugins/crystalcore
	url = https://github.com/UltraXn/CrystalCore.git
[submodule "apps/discord-bot"]
	path = apps/discord-bot
	url = https://github.com/UltraXn/CrystalTidesSMP-Bot-DC.git
[submodule "apps/launcher"]
	path = apps/launcher
	url = https://github.com/UltraXn/crystal-launcher
[submodule "apps/game-bridge"]
	path = apps/game-bridge
	url = https://github.com/UltraXn/crystal-agent
