# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build Outputs
dist/
build/
target/
src-tauri/target/

# Logs & Temp
*.log
tmp/
.env
.env.local

# IDE
.vscode/*
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
