# Flutter
build/
.dart_tool/
.packages
.pub-cache/
.pub/
/windows/flutter/ephemeral/

# Rust
/native/target/
**/*.rs.bk

# Binaries
*.dll
*.exe
*.pdb
*.so
*.dylib

# Specific to CrystalLauncher
/lib/generated_plugin_registrant.dart

# OS
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Environment
.env

# Build outputs and logs
*.zip
*.log
launcher_payload/
installer_payload/
bootstrapper/target/
